Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure~
depcomp
install-sh
ltmain.sh
libtool
missing
*.lo
*.o
*.la
*.a
**/Makefile
**/.deps
**/.libs
doc/headers/*.h
config.log
CUnit.spec
config.status
cunit.pc
config.h
CUnit/Headers/CUnit.h
CUnit*Dump.xml
stamp-h1
CUnit/Sources/Test/test_cunit
